/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;
  
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
  
    /*.5rem = 8px | 1rem = 16px ...*/
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }
  
  /* Responsive typography */
  @media screen and (max-width: 992px) {
    :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;
    }
  }

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

.home {
    display:flex;
    background-color: #F5F5F5;
    height: 100vh;
}

.home__content {
    grid-template-columns: 116px repeat(2,1fr);
    column-gap: 2rem;
    align-items:center;
}

.home__social {
    display:grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color:var(--title-color);
}

.home__social-icon:hover {
    color:  var(--title-color-dark);
}

.button--flex{
    text-decoration: none;
}


.home__title {
    display:flex;
    align-items:center;
    gap:10px;
    font-size: var(--big-font-size);
    font-weight: 800;
    margin-bottom: var(--mb-0-25);
}
.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle {
    position: relative;
    font-size: var(--h2-font-size);
    padding-left: 2.8rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.home__subtitle::before {
    content:" ";
    position:absolute;
    width: 40px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top:1rem;
}

.home__description {
    max-width: 400px;
    font-size: 19px;
    margin-bottom: var(--mb-1);
}

#homeimg {
    animation:profile__animate 8s ease-in-out infinite;
    filter: grayscale(100%);
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
    order:1;
    justify-self: center;
    width: 300px;
    height:300px;
    background: url(../../assets/Alex.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes profile__animate {
    0% { 
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% { 
        border-radius: 30% 60% 70% 40%/50% 50% 30% 60%;
    }

    100% { 
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}



/*=============== Breakpoints ===========*/
/* Large device */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns:100px repeat(2,1fr);
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
       width: 42px;
       top:0.8rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    #homeimg {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255, 255, 255 / 30%);
    }
  }
  
  /* Medium device */
  @media screen and (max-width: 768px) {

   .home__content {
    grid-template-columns:0.5fr 3fr;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
   }
   .home__social {
    margin-left: 9px;
    }

    #homeimg {
    order: initial;
    justify-self: initial;
   }

   .home__data {
    grid-column: 1/3;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
   }

   

   #homeimg {
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    width: 280px;
    height: 280px;
    align-self:center ;
    justify-self: center;
   }

   .home {
    height: 100vh;
   }
  }
  
  /* Semi Medium device */
  @media screen and (max-width: 614px) {
    #homeimg {
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
        width: 253px;
        height: 255px;
        align-self: center;
        justify-self: self-start;
        margin-left: 17px;
       }
       .home__social-icon {
        font-size: 2.25rem;
        }
        .home__social {
            margin-left: 9px;
        }
    
       .home__data {
        grid-column: 1/3;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
        margin-right: 3rem;
        text-align: center;
       }

       .home__title {
        font-size: var(--h2-font-size);
        }

       .home {
        height: 100vh;
    }
  }
  
  /* Small device */
 @media screen and (max-width: 350px){
    
    .home__content {
        grid-template-columns:50px repeat(2,1fr);
        column-gap: 1.25rem;
    }


    #homeimg {
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
        width: 200px;
        height: 200px;
        align-self:center ;
        justify-self: center;
       }
    
       .home__data {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
       }

       .home__title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-0-25);
    }

    .home__subtitle {
        padding-left: 1.2rem;
    }

    .home__subtitle::before {
        width: 16px;
        top:0.8rem;
     }
     .home__data {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       }
  }
